* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/Images/Saude.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
